<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <!--useGeneratedKeys="true"允许返回key主键值-->
    <!--keyProperty="id" 将这个值 赋给dish的id属性-->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into dish (name, category_id, price, image, description,status,
                          create_time, update_time, create_user, update_user)
        values
            (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{status},
             #{createTime}, #{updateTime}, #{createUser}, #{updateUser});
    </insert>

    <!--连接查询外连接中 左外连接查询的sql语句-->
    <!--注意这里as categoryName必须写 因为两个表的name都被查询到了 且名字相同
        将后面的c.name改为categoryName 和DishVO中对应属性名相同 避免mybatis底层产生冲突-->
    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        select  d.*,c.name as categoryName from dish d left join category c on d.category_id = c.id
        <where>
            <if test="name!=null and name!=''">
                d.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId!=null">
                and d.category_id = #{categoryId}
            </if>
            <if test="status!=null">
                and d.status = #{status}
            </if>
        </where>
        order by d.create_time desc
    </select>

    <select id="selectBatchById" resultType="com.sky.entity.Dish">
        select * from dish
        <where>
            id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </select>

    <delete id="deleteBatch">
        delete from dish
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectBatchByCategoryId" resultType="com.sky.entity.Dish">
        select * from dish
        <where>
            category_id in
            <foreach collection="cIds" item="cId" open="(" close=")" separator=",">
                #{cId}
            </foreach>
        </where>
    </select>

    <update id="update">
            UPDATE dish
      <set>
        <if test="categoryId!= null">
            category_id = #{categoryId},
        </if>
        <if test="description!= null">
            description = #{description},
        </if>
        <if test="image!= null">
            image = #{image},
        </if>
        <if test="price!= null">
            price = #{price},
        </if>
        <if test="status!= null">
            status = #{status},
        </if>
        <if test="name!=null">
            name = #{name},
        </if>
        <if test="updateTime!=null">
          update_time = #{updateTime},
        </if>
        <if test="updateUser!=null">
            update_user = #{updateUser},
        </if>
     </set>
            WHERE id = #{id}
    </update>

    <select id="list" resultType="com.sky.entity.Dish">
    select * from sky_take_out.dish
    <where>
        <if test="name!=null and name != ''">
            name like concat('%',#{name},'%')
        </if>
        <if test="categoryId != null">
            and category_id = #{categoryId}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        order by create_time desc
    </where>
    </select>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from dish
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>
</mapper>